@import url(https://fonts.googleapis.com/css?family=Lato:300,400);

body { 
	line-height:1.5; font-family:'Lato', sans-serif; background:#f4f4f4; text-align:center; 
}

h1 { 
	font-size:2.2em; 
}

.flex-container {
    padding:0 5% 30px;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -moz-flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -moz-justify-content: flex-start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;

}